<%- include ("./partial/nevbar.ejs") %>
<div class="addmain">
  <div class="bookadd">
    <form method="post" enctype="multipart/form-data">
      <div class="bookHeading">
        <h1>Add Books Details</h1>
      </div>
      <div class="bookDetails">
        <input type="text" name="name" placeholder="Book Name" />
        <input type="text" name="author" placeholder="Book Author" />
        <input type="text" name="publisher" placeholder="Book publisher" />
        <input type="text" name="price" placeholder="Book price" /><br />
        <h1>Upload Book's Image</h1>
        <input id="file" type="file" name="image" required/>
      </div>
      <div class="bookSubmit">
        <button type="submit">ADD BOOK</button> <button>Cancle</button>
      </div>
    </form>
  </div>
</div>
<link rel="stylesheet" href="css/addbook.css" />
