<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="main">
        <div class="heading"><i class="fas fa-book-open"></i><h1>Book Store</h1></div>
        <div class="content">
            <ul>
               <a href="/add"> <li>Add Book</li></a>
               <a href="/update"> <li>Update Book</li></a>
               <a href="/delete"> <li>Delete Book</li></a>
               <a href="/read"> <li>Books</li></a>
            </ul>


        </div>
        <div class="socialmedia"></div>

    </div>
    
</body>

</html>